{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock title %}
{% block content %}     
        
        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
				
				
					<!-- InstanceBeginEditable name="FeaturedContent" -->
					
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-fixed -->
                	<div class="layout-fixed">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFixedContent" -->
                
                	
                    
                        <!-- .hentry -->
                        <article class="hentry page">
                        
                        	
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">Form Elements</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                            <!-- .entry-content -->
                            <div class="entry-content">
                            	
                              <p>Here are all forms elements cross browser styled.</p>
                          
                            
                              <form action="#" method="post" class="validate-form">
                                
                                <p>
                                  <label for="your-name">Name *</label>
                                  <input type="text" name="your-name" id="your-name" class="required">
                                </p>
                                
                                <p>
                                  <label for="your-email">Email *</label>
                                  <input type="text" name="your-email" id="your-email" class="required email">
                                </p>
                                
                                <p>
                                  <label for="subject">Subject</label>
                                  <input type="text" name="subject" id="subject">
                                </p>
                                
                                <p>
                                  <label for="budget">Budget</label>
                                  <select name="budget" id="budget">
                                    <option value="1000$">1000$</option>
                                    <option value="2000$">2000$</option>
                                    <option value="3000$">3000$</option>
                                    <option value="5000$+">5000$+</option>
                                  </select>
                                </p>
                                 
                                 <p>
                                    <label for="attach-file">Attach a file</label>
                                    <input type="file" name="attach-file" id="attach-file">
                                </p>
                                 
                                <!--<p>
                                  <label for="budgetm">Budget Multi</label>
                                  <select name="budgetm" id="budgetm" multiple="multiple">
                                    <option value="1000$">1000$</option>
                                    <option value="2000$">2000$</option>
                                    <option value="3000$">3000$</option>
                                    <option value="5000$+">5000$+</option>
                                  </select>
                                </p>-->
                                
                                <p>
                                  <label for="your-message">Your Message</label>
                                  <textarea name="your-message" id="your-message"></textarea>
                                </p>
                               
                                
                                <p>
                                    <label>Tech</label>
                    
                                    <label class="inline-label">
                                        <input type="checkbox" name="gender[]" value="male">HTML5
                                    </label>
                                    <label class="inline-label">
                                        <input type="checkbox" name="gender[]" value="female">jQuery
                                    </label>
                                    <label class="inline-label">
                                        <input type="checkbox" name="gender[]" value="female">Wordpress
                                    </label>
                                </p>
                                
                                <p>
                                    <label>Gender</label>
                    
                                    <label class="inline-label">
                                        <input type="radio" name="radio" value="radio-1" class="required">Male
                                    </label>
                    
                                    <label class="inline-label">
                                        <input type="radio" name="radio" value="radio-2" class="required">Female
                                    </label>
                                </p>
                                
                                
                                <p>
                                  <input type="submit" value="Send it">
                                </p>
                              </form>
                                
                                
                                
                                
                               
                            </div>
                            <!-- .entry-content -->
                            
                            
                        </article>
                        <!-- .hentry -->
                	
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-fixed -->
                
                
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary -->    
        
        
        
        
        </div>
        <!-- site-main -->
        {% endblock content %}